<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-tournament-bracket@2.1.2/dist/vue-tournament-bracket.umd.min.js"></script>
    <title>tournament</title>
</head>
<body>
    <div id="app">
        <h3>リストを全件表示</h3>
        <ul>
            <li v-for="pair in team_lists">{{ pair.player1_name + "・" + pair.player2_name}}</li>
        </ul>
        <p>--------------------------------------------------------------------------------------------------------------------------------</p>
            
        <h3>vue-tournament-bracketを用いたサンプル実装</h3>

        <details v-for="tournament in tournaments">
            <summary>トーナメント: {{ tournament.tournament_no }}</summary>
        <bracket :rounds="tournament.rounds">
                <template #player="{ player }">
                    <div
                    @drop="dropList($event, player.id)"
                    @dragover.prevent
                    @dragenter.prevent>
                        <div
                        draggable
                        @dragstart="dragList($event, player.id)">
                            <b>
                                {{ player.name }}
                            </b>
                        </div>
                    </div>
                </template>
                <template  #player-extension-bottom = " {match} ">
                    <button type="button" :value="match.match_id">
                        試合番号：{{ match.match_id }}
                    </button>
                </template>
        </bracket>
    </details>

        <p>----------------------------------------------------------------------------------------------------------------------------------</p>
    </div>
    <script src="tournament.js"></script>
</body>
</html>